h1{
    color: black;
}
h2{
    color: coral;
}
form{
    text-align: center;
}
body{
    background-color: #25c4b1;
    border-style: groove;
    border-width: 12%;
    border-color: black;
}
#s{
    background-color: aqua;
}
#result{
color: blueviolet;
text-align: center;
font-size: larger;
font-weight: bold;
}